{% extends 'OjstrMessageMessageBundle::base.html.twig' %} 


{% block body %}
	{%- spaceless -%}
<div class='row' style="margin-top:50px">
    <p style="text-align: left">
        Powered by <a target="_blank" href="http://www.codeconsortium.com/">CodeConsortium</a>
        <br>
        Graphics courtesy of <a rel="friend" target="_blank" href="http://glyphicons.com/glyphicons-licenses/">Glyphicons</a> |
        <br> 
        Smileys courtesy of <a rel="friend" target="_blank" href="http://www.freesmileys.org/copyright.php">freesmileys.org</a></small>
    </p>
</div>

	{%- endspaceless -%}
{% endblock body %}
